ol, ul, .tab, .panel{
    margin: 0;
    padding: 0;
    
}
#content{
    width: 960px;
    padding:20px;
    margin: 0px auto;
}
.tab-header > li{
    display: block;
    width:85px;
    text-align: center;
    float:left;
    border-style: dashed;
    border-bottom-style: none;
    border-width: 1px;
    cursor: pointer;
}

.tab-header > li.active{
    background-color: coral;
}

.panel > div{
    clear:both;
    padding:10px 5px;
    border:1px solid;
    display: none;
    width:960px;
}
.panel > div.active{
    display: block;
}

.page.control{
    clear: both;
    padding: 5px 15px;
}
.page.main{
    height: auto;
}

.page.main table {
    width:50%; 
    float: left;  
}
.page.footer {
    clear: both;
    padding: 5px 15px;
    height: 300px;
}

.page.footer table {
    width: 80%;
    float: left;
    text-align: center;
    border-collapse: collapse;
}
.page.footer td,.page.footer th  {
    border-style: solid;
    border-width: 1px;

}

.page table th, .page table td{
    height:40px;
    
}
.extra-tb{
    display:none;
}
.extra-tb.active{
    display: block;
}

table input[type=text], table input:not([type]){
    width:50px;
}

.btn-sm{
    width:100px;
}

table select{
    height: 1.5rem;
}
.droplist.sm{
    width: 55%;
}
